body{
	font-family: "Proxima Nova",sans-serif;
}

h1{
	font-size: 48 px;
	font-weight: 700;
	line-height: 64 px;
}

h2{
	font-size: 32 px;
	font-weight: 700;
	line-height: 48 px;
}

h3{
	font-size: 24 px;
	font-weight: 700;
	line-height: 36 px;
}

h4{
	font-size: 20 px;
	font-weight: 700;
	line-height: 30 px;
}
.bold {
	font-weight: bold !important;
}

.page-header{
	position: relative;
	box-shadow: 0px 5px 10px rgba(190,190,190,0.25);
}
.header-menu_top,
.header-menu_bottom {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	text-color: #3A3E48;
	font-size: 16px;
	line-height: 24px;
}
.header-menu_top{
	background-color: #FCFCFC;
	height: 60px;
}

.header-menu {
	display: flex;
	padding: 10px;
	flex-wrap: nowrap;
}
.header-menu_item {
	padding: 10px 7px;
	list-style: none;
}
.header-menu_item a {
	white-space: nowrap;
}

.nav-menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 10px;
}
.nav-menu_item {
	list-style: none;
	padding: 20px 15px 0px;
}
.nav-menu_item a {
	white-space: nowrap;
	font-weight: 700;	
}

.pic{
	padding-top: 10px;
	padding-left: 20px;
	margin-right: 5px;
}
.logo-over-card {
	position: absolute;
	top: 12px;
	left: 12px;
}


.main-offer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #F4F4F4;
	font-size: 24px;
	line-height: 36px;
}
.main-offer_item{
	list-style: none;
	margin-bottom: 18px;
	padding-left: 40px;
	margin-right: 0;

	background: url(pic/main_list.svg) no-repeat;
	background-size: contain;
}
.main-image-stack{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
	background-color: #F4F4F4;

	background: url(pic/bg-offer.svg) no-repeat;
	background-size: 100% 100%;
}
.main-image-stack_item1 {
	grid-column: 12;
	grid-row: 1;
}
.main-image-stack_item2 {
	grid-column: 10 / span 8;
	position: relative;
	grid-row: 1; 
	padding-top: 10%; 
	z-index: 1; 
}
.main-image-stack_item2 img {
	position: absolute;
	bottom: 0;
}
.main-image-stack_item3 {
	grid-row: 1;
	padding-top: 110px; 
	grid-column: 11;
}
.main-image-stack_item3 img {
	margin-top: 40px;
}
.offer-title{
	font-weight: 700;
	margin-bottom: 20px;
}
.main-text-stack{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 620px;
	padding-left: 60px;
}
.main-ul-stack {
	padding-left: 0;
}


/*section{
	padding: 60px 200px 60px 200px;
}*/

.immigration_sec,
.studies_sec,
.visa_sec{
	background-color: #F4F4F4;
}
.links{
	background: url(pic/ic_arrow.svg) no-repeat;
	background-size: auto;
	background-position: right center;
}
.popularity,
.immigration,
.studies,
.work,
.visa{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 16px;
	line-height: 24px;
}
.work{
	background-color: #FFFFFF;
}

.section-head{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	font-size: 32px;
	line-height: 48px;
	list-style: none;
	font-weight: 700;
	padding-bottom: 30px;
	padding-left: 32px;
}
.section-head a {
	text-decoration: none;
	color: #E55241;
	font-size: 20px;
	line-height: 20px;
	text-align: end;
}
.section-head a:hover{
	color: #E55241;
}


.item{
	list-style: none;
	margin-right: 30px;
	border-radius: 10px;
	background-color: #FFFFFF;
	position: relative;
}

.item a{
	text-decoration: none;
	color: #1E222E;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	border-radius: 10px;
}
.card-item{
	list-style: none;
	border-radius: 10px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	position: relative;
}
.card-item a{
	text-decoration: none;
	color: #3A3E48;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	border-radius: 10px;
}
.item a:hover,
.card-item a:hover{
	color: #E55241;
	display: flex;
	box-sizing: border-box;
	box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
	5px 5px 10px rgba(190, 190, 190, 0.25);
	height: 100%;
}
.card-body{
	display: flex;
	flex-direction: column;
}
.card {
	border-radius: 10px !important;
	height: 100%;
}

.btn-inf {
	padding: 5px 10px !important;
}
.card-text{
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.3em;
}
.card-title{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.card-price{
	display: flex;
	justify-content: space-between;
}
.prices{
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
}
.CAD{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #AFB2C4;
}


.general,
.news {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 16px;
	line-height: 24px;
}
.news_title{
	background: url(pic/ic_arrow.svg) no-repeat;
	background-size: auto;
	background-position: right center;
	color: #1E222E;
}

.general_item,
.news_item {
	list-style: none;
	width: 380px;
	margin-right: 30px;
}
.general_item a,
.news_item a{
	text-decoration: none;
	color: #3A3E48;
	font-size: 16px;
	line-height: 24px;
	border-radius: 10px;
}
.general_list,
.news_list {
	background-color: #f3f3f3;
	padding-left: 0;
}

.list_element {
	display: flex;
	margin-bottom: 1px;
	background-color: #ffffff;
}

/*.list_element:last-child {
	margin-bottom: 0;
}
*/
.list_element:hover, .list_element:focus {
	background-color: #fff6f6;
}

.list_element::before {
	display: block;
	content: "";
	width: 4px;
	background-color: transparent;
}

.list_element:hover::before, .list_element:focus::before {
	background-color: #e55241;
}

.list_link {
	display: block;
	padding: 10px 12px;
	text-decoration: none;
	color: #3a3e48;
}
.list_link:hover{
	color: #E55241;
}


.main-project {
	display: flex;
	justify-content: center;

	background: url(pic/grey_bg.svg) no-repeat;
	padding: 65px 0;
}
.project-text-stack{
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 600px;
	margin-left: 30px;
}
.project_title{
	background: url(pic/ic_arrow.svg) no-repeat;
	background-size: auto;
	background-position: right center;

	font-weight: 700;
	margin-bottom: 40px;
}
.project_item{
	margin-bottom: 18px;
}
.project-btn {
	width: 70%;
	padding: 15px 0 !important;
}

.join{
	background: url(pic/bg_join.svg) no-repeat;
	border-radius: 10px;
	padding: 40px 25px 0px;
}
.join-header {
	padding-left: 70px;

	background: url(pic/logo_mini.svg) no-repeat;
	background-position: 4% 10%;
	background-size: auto;
}
.join-text {

}
span {
	color: red;
}
.join_text {
	padding: 15px;
}
.join-container {
	display: flex;
	justify-content: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1px;
  margin-bottom: 15px;
  font-size: 10px;
  line-height: 1.5;
  color: #1e222e;
}
.checkbox__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 4px 15px 4px 0;
  border: 2px solid #dbdfec;
  border-radius: 2px;
}
/*.checkbox__icon > img {
  width: 14px;
  height: 11px;
  fill: none;
}*/
.checkbox__icon:hover {
  cursor: pointer;
}
.checkbox__icon:checked {
  background-image: url(pic/ic_tick.svg) no-repeat;
}




.page-footer{
	background: #272727;
}
.footer_wraper{
	padding: 60px 0px;
	display: flex;
}
.footer_logo {
	margin-right: 60px;
}
.tabs_element {
	background-image: url(pic/ic_right.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right center;

	height: 30px;
	width: 200px;

	padding-bottom: 10px;
	margin-bottom: 0px;
	margin-right: 20px;
	border-bottom: 1px solid #2f2f2f;
}
.tabs_link,
.socials_link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
.tabs_link:hover{
	color: #E55241;
}
.tabs_bg {
	background-image: url(pic/map-img.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 5px;
	background-position-y: -3px;
}
.socials_list{
	display: flex;
	flex-wrap: nowrap;
	justify-content: right;

	list-style: none;
}
.socials_element{
	padding-left: 15px;

}

.address {
	margin-bottom: 30px;
	padding: 0 18px;
}
.address a{
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
	color: #ffffff;
}
.address a:hover{
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
	color: #E55241;
}

.copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 0 12px 26px;
	background-color: #202020;
}


.address__wrapper {
	display: flex;
	flex-direction: column-reverse;
}
.copyright__heading {
	display: none;
}
.copyright {
	padding: 15px 0px;
}
.copyright a{
	text-decoration: none;
	font-style: normal;
	color: #ffffff;
}
.copyright a:hover{
	text-decoration: none;
	font-style: normal;
	color: #E55241;
}

.copyright__link {
	display: block;
	font-size: 12px;
	line-height: 1.5;
	color: #ffffff;
}

