body{
	font-family: "Proxima Nova",sans-serif;
}
img {
	max-width: 100%;
}
h1{
	font-size: 48px;
	font-weight: 700;
	line-height: 64px;
}

h2{
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}

h3{
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}

h4{
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}
.bold {
	font-weight: bold !important;
}

.page-header{
	position: relative;
	box-shadow: 0px 5px 10px rgba(190,190,190,0.25);
}
.header-menu_top,
.header-menu_bottom {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	text-color: #3A3E48;
	font-size: 16px;
	line-height: 24px;
}
.header-menu_top{
	background-color: #FCFCFC;
	height: 60px;
}

.header-menu {
	display: flex;
	padding: 10px;
	flex-wrap: nowrap;
}
.header-menu_item {
	padding: 10px 7px;
	list-style: none;
}
.header-menu_item a {
	white-space: nowrap;
}

.nav-menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 10px;
}
.nav-menu_item {
	list-style: none;
	padding: 20px 15px 0px;
}
.nav-menu_item a {
	white-space: nowrap;
	font-weight: 700;	
}

.pic{
	padding-top: 10px;
	padding-left: 20px;
	margin-right: 5px;
}
.logo-over-card {
	position: absolute;
	background: url(../pic/logo_mini.svg) no-repeat;
	background-position: left;
}


.main-offer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	/*background-color: #F4F4F4;*/
	font-size: 24px;
	line-height: 36px;
	background: url(../pic/main-offer-bg.svg) no-repeat right center;
	background-size: cover;
	padding: 0;
}
.main-offer-container {
	padding: 120px 0 140px;
	position: relative;
}
.main-offer-woman-img {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 40%;
}
.main-offer-woman-img img {
	max-width: 100%;
}
.main-offer_item{
	list-style: none;
	margin-bottom: 18px;
	padding-left: 40px;
	margin-right: 0;

	background: url(../pic/main_list.svg) no-repeat;
	background-size: contain;
}

.main-image-stack_item1 {
	grid-column: 12;
	grid-row: 1;
}

.offer-title{
	font-weight: 700;
	margin-bottom: 20px;
}
.main-text-stack{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 620px;
}
.main-ul-stack {
	padding-left: 0;
}


section{
	padding: 60px 0px 60px ;
}

.bg-grey {
	background-color: #F4F4F4;
}
.links{
	background-size: auto;
	background: url(../pic/ic_arrow.svg) no-repeat;
	background-position: right 65%;
}
.popularity,
.immigration,
.studies,
.work,
.visa{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 16px;
	line-height: 24px;
}
.popularity{
	padding-left: 0px;
}
.work{
	background-color: #FFFFFF;
}

.section-head{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	font-size: 32px;
	line-height: 48px;
	list-style: none;
	font-weight: 700;
	padding-bottom: 15px; 
}
.section-head a {
	text-decoration: none;
	color: #E55241;
	font-size: 20px;
	line-height: 20px;
	padding-right: 25px;
}
.section-head a:hover{
	color: #E55241;
}


.item{
	list-style: none;
	margin-right: 30px;
	border-radius: 10px;
	background-color: #FFFFFF;
	position: relative;
}

.item a{
	text-decoration: none;
	color: #1E222E;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	border-radius: 10px;
}
.card-item{
	list-style: none;
	border-radius: 10px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	position: relative;
}
.card-item a{
	text-decoration: none;
	color: #3A3E48;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	border-radius: 10px;
}
.item a:hover,
.card-item a:hover{
	color: #1E222E;
	display: flex;
	box-sizing: border-box;
	box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
	5px 5px 10px rgba(190, 190, 190, 0.25);
	height: 100%;
}
.card-title:hover{
	color: #E55241;;
}
.card-body{
	display: flex;
	flex-direction: column;
}
.card-height {
	height: 100%;
}
.card {
	border-radius: 10px !important;
}
.card:after {
	content: "";
	position: absolute;
	left: 15px;
	top: 15px;
	width: 35px;
	height: 40px;
	background: url(../pic/logo_mini.svg) no-repeat;
	background-size: 100%;
	background-position: center;
}

.btn-inf {
	padding: 5px 10px !important;
}
.card-text{
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.3em;
}
.card-title{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.card-price{
	display: flex;
	justify-content: space-between;

	margin-top: auto;
}
.prices{
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
}
.CAD{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #AFB2C4;
}


.general,
.news {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 16px;
	line-height: 24px;
	padding: 0px;
}
.news_title{
	background: url(../pic/ic_arrow.svg) no-repeat;
	background-size: auto;
	background-position: right center;
	color: #1E222E;
}
.news_title a:hover {
	color: #E55241;
}
.news_title h3{
	padding-bottom: 15px;
}

.general_item,
.news_item {
	list-style: none;
}
.general_item a,
.news_item a{
	text-decoration: none;
	color: #3A3E48;
	font-size: 16px;
	line-height: 24px;
	border-radius: 10px;
}
.news_question{
	font-size: 18px;
	line-height: 26px;
}
.news_question img{
	height: 100%;
	width: 100%;
}
.news_item p{
	padding: 20px 0;
}
.news_item button{
	width: 100%;
	text-align: center;
	background: url(../pic/ic_wh_arrow.svg) no-repeat;
	background-position: 83% 52%;

	background-color: #E55241;
	padding: 25px;
}
.general_list,
.news_list {
	background-color: #f3f3f3;
	padding-left: 0;
}
/*.general_bg img:after {
	content: "";
    position: absolute;

	background: url(../pic/grey_bg.svg) no-repeat;
    background-size: 100%;
    background-position: center;
}*/

.list_element {
	display: flex;
	margin-bottom: 1px;
	background-color: #ffffff;

}
.list_element:hover, .list_element:focus {
	background-color: #fff6f6;
}

.list_element::before {
	display: block;
	content: "";
	width: 4px;
	background-color: transparent;
}

.list_element:hover::before, .list_element:focus::before {
	background-color: #e55241;
}

.list_link {
	display: block;
	padding: 10px 12px;
	text-decoration: none;
	color: #3a3e48;
}
.list_link:hover{
	color: #E55241;
}


.main-project {
	display: flex;
	justify-content: center;
}
.project-text-stack{
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-left: 30px;
}
.project_title{
	background: url(../pic/ic_arrow.svg) no-repeat;
	background-size: auto;
	background-position: 60% 70%;

	font-weight: 700;
	margin-bottom: 40px;
}
.project_item{
	margin-bottom: 18px;
}
.project-btn {
	width: 70%;
	padding: 15px 0 !important;
}

.join{
	background: url(../pic/bg_join.svg) no-repeat;
	border-radius: 10px;
	padding: 40px 0px 0px 25px;
}
.join-header {
	padding-left: 70px;

	background: url(../pic/logo_mini.svg) no-repeat;
	background-position: 4% 10%;
	background-size: auto;
}
.join-text {
	font-size: 20px;
	line-height: 30px;
}
a {
	color: red;
}
.join_text {
	padding: 15px;
}
.join-container {
	display: flex;
	justify-content: center;
}



.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 1px;
	margin-bottom: 15px;
	font-size: 10px;
	line-height: 1.5;
	color: #1e222e;
}
.checkbox__label {
	display: flex;
	align-items: center;
	padding: 10px 0;
}
.checkbox__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	margin: 4px 15px 4px 0;
	border: 2px solid #dbdfec;
	border-radius: 2px;
}
/*.checkbox__icon > img {
  width: 14px;
  height: 11px;
  fill: none;
}*/
.checkbox__icon:hover {
	cursor: pointer;
}
.checkbox__icon.active {
	background: url(../pic/ic_tick.svg) no-repeat;
	background-position: center;
	background-size: contain;
}

/*page list_articles*/

.articles-head{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	font-size: 14px;
	line-height: 20px;
	color: #1E222E;
	padding: 20px 0;
}
.articles-head a{
	text-decoration: none;

	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #E55241;
}
.nav-icon-l{
	background: url(../pic/ic_arrowL.svg) no-repeat center;
	background-size: auto;
	height: 100%;
}
.nav-icon-r{
	background-image: url(../pic/ic_arrowR.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	height: 100%;
}
.right{
	display: flex;
	justify-content: right;
}
.pagination {
	display: flex;
	justify-content: center;
}
.page-item{
	padding: 5px;
}
.page-item a{
	color: black;
}
.page-item:hover a{
	color: white;
	background-color: #E55241;
}
.page-link{
	border-radius: 5px;
}
.inviz a{
	border: 1px solid white;
}

.close{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 24px;
	background-color: #F4F4F4;
	padding: 10px 0;
}
.close a{
	text-decoration: none;
	color: #E55241;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}
.close a:hover{
	text-decoration: none;
	color: #E55241;
}
/*end list_articles*/


/*page category_article*/
.category{
	padding-bottom: 10px;
}
.col-3 div {
	margin-bottom: 35px;
}
.question img {
	margin: 20px 0px;
}
.article a{
	text-decoration: none;
	color: #E55241;
}
.article a:hover {
	color: #E55241;
}
.art-title{
	padding-top: 20px;
	font-size: 18px;
	line-height: 24px;
}
.article-view{
	padding: 15px 0 25px;
	align-items: center;
}
.add{
	padding: 20px;
	padding-right: 0;
	margin: 30px 0;
}
.shadow{
	box-shadow: -5px 0px 7px rgba(190, 190, 190, 0.25), 5px 5px 10px rgba(190, 190, 190, 0.25);
	border-radius: 10px;
	font-size: 16px;
	line-height: 20px;
	padding: 30px 15px;
}
.similar_list{
	list-style: none;
	padding-left: 0;
}
.important_art{
	padding-left: 5px;
	padding-bottom: 0;
}
.article-bookmark{
	padding-left: 30px;
	background: url(../pic/ic_bookmark.svg) no-repeat;
	background-position: left center;
}
.article-bookmark a{
	padding-left: 10px;
	text-decoration: none;
	color: #3A3E48;
}
.article-bookmark a:hover {
	color: #3A3E48;
}

.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #FADB14;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #FADB14;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #FADB14;
}
.rate-area > label:active {
	position: relative;
}

.article-list{
	list-style: none;
	padding-left: 0;
}
.article-it{
	padding: 5px 15px 5px 20px;

	background: url(../pic/ic_circle.svg) no-repeat;
	background-size: auto;
	background-position: left center;
}
.list-title{
	margin-bottom: 5px;
	font-size: 24px;
	line-height: 36px;
}
.add button{
	height: 80%;
	width: 48%;
}

.hashtag{
	
}
.tag-list{
	list-style: none;
	padding-left: 12px;
}
.tag-list a{
	color: #1E222E;
}
.tag-list a:hover {
	color: #FFFFFF;
	background: #E55241;
}
.tag-item{
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;
	background: #FFF6F6;
	border: 1px dashed #E55241;
	border-radius: 100px;
}
.hashtag span{
	font-size: 16px;
	line-height: 30px;
	color: #E55241;
}
.art-price{
	list-style: none;
	padding-left: 0px;
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
}
.mikro-news{
	font-size: 14px;
	line-height: 20px;
}
.banner{
	padding: 30px 0 50px;
}


.comments {
	padding-top: 24px;
	border-top: 2px solid #dbdfec;
}
.comments-title{
	padding: 20px 0;
}
.comments_list{
	list-style: none;

}
.comments__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.comments__headings {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.55556;
	color: #1e222e;
}
.comments__btn {
	display: block;
	padding: 15px 42.5px;
	font-size: 14px;
	line-height: 1.42857;
}
.comments_el {
	padding-bottom: 16px;
	border-bottom: 2px solid #dbdfec;
}
.comments_el:not(:first-child) {
	padding-top: 16px;
}
.comments-user {
	display: flex;
	margin-bottom: 15px;
}
.comments-info {
	margin-left: 25px;
}
.comments-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #1e222e;
	margin-bottom: 0;
}
.comments-date {
	font-size: 14px;
	line-height: 20px;
}
.comments-text{
	display: flex;
}
.comments-like {
	display: flex;
    justify-content: flex-end;
    
	background: url(../pic/ic_heart.svg) no-repeat;
	background-position: 80% 10%;

	font-size: 14px;
	line-height: 20px;

	color: #E55241;
}
.comments-btn {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	border: none;
	background-color: transparent;
	color: #e55241;
}
.comments-reply {
	display: flex;

	background: url(../pic/ic_reply.svg) no-repeat;
	background-position: 0% 10%;
	margin-left: 15px;
    padding-left: 20px;
	color: #a6a6a6;
}
.comments-replied {
	margin: 20px 0 0 20px;
    margin-bottom: 20px;
    padding-left: 15px;
	padding-bottom: 0;
	border-left: 2px solid #dbdfec;
	border-bottom: none;
}

/*end category_article*/

/*page courses*/

.courses, .book{
	padding-left: 0px;
}
.courses-head{
	margin: 30px 0px 20px;
}
.serv{
	padding: 20px 0 60px;
}
.services p,
.courses p{
	font-weight: 700;
	font-size: 28px;
	line-height: 35px;
}
.courses-list, 
.book-list{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 16px;
	line-height: 24px;
	padding-left: 0px;
}
/*end courses*/

/*page contacts*/
.contacts{
	padding-bottom: 10px;
}
.contacts img{
	margin: 35px 0px;
}
.contacts-list{
	list-style: none;
	padding-left: 0;
}
.contacts-it{
	padding: 7px 15px 7px 20px;

	background: url(../pic/ic_circle.svg) no-repeat;
	background-size: auto;
	background-position: left center;
}
.mail{
	background: url(../pic/ic_mail.svg) no-repeat;
	background-position: 48% 50%;
}
.mail a{
	text-decoration: none;
	color: #E55241;
}
.mail a:hover {
	text-decoration: none;
	color: #E55241;
}

/*end contacts*/

.question{
	box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25), 5px 5px 10px rgba(190, 190, 190, 0.25);
	border-radius: 10px;
	font-size: 16px;
	line-height: 20px;
	padding: 30px 15px;
}
.question button{
	width: 100%;
	text-align: left;
	background: url(../pic/ic_wh_arrow.svg) no-repeat;
	background-size: auto;
	background-position: 93%;

	background-color: #dc3545;
}
.contacts,
.about-project{
	display: flex;
	justify-content: space-between;

	font-size: 16px;
	line-height: 24px;
}
.contacts-head,
.about-head{
	font-size: 20px;
	line-height: 30px;
}

/*page about project*/

.values, .copyrght,
.megaphone, .history,
.special, .handwpen,
.roundcopy{
	margin: 35px 0px;
}
.about-project a{
	text-decoration: none;
	color: #E55241;
}
.about-project a:hover{
	text-decoration: none;
	color: #E55241;
}
.ic-copyright{
	padding-left: 40px;

	background: url(../pic/ic_copyright.svg) no-repeat;
	background-size: auto;
}
.btn-danger{
	background: #E55241;
	background-color: #E55241;
	border-color: #E55241;
}
.about-head{
	margin-bottom: 30px;
}
.history-head{
	padding-left: 40px;

	background: url(../pic/ic_pen.svg) no-repeat;
	background-size: auto;
}
.special-head{
	padding-left: 40px;

	background: url(../pic/ic_special.svg) no-repeat;
	background-size: auto;
}
.quote {
	display: flex;
	align-items: center;
	margin: 30px 0;
	padding: 33px 15px 33px 45px;
	border-left: 5px solid #468e87;

	background: url(../pic/ic_quote.svg) no-repeat;
	background-position: 2% 35%;
	background-color: #f7f7f7;
}

.handwpen-head{
	padding-left: 40px;

	background: url(../pic/ic_handwpen.svg) no-repeat;
	background-size: auto;
}
.roundcopy-head{
	padding-left: 40px;

	background: url(../pic/ic_roundcopyright.svg) no-repeat;
	background-size: auto;
}
.megaphone-head{
	padding-left: 40px;

	background: url(../pic/ic_megaphone.svg) no-repeat;
	background-size: auto;
}
.values-head{
	padding-left: 40px;

	background: url(../pic/ic_like.svg) no-repeat;
	background-size: auto;
}
.values-list{
	list-style: none;
	padding-left: 0;
}
.values-it{
	padding: 7px 15px 7px 40px;

	background: url(../pic/main_list.svg) no-repeat;
	background-size: auto;
	background-position: left center;
}
/*end about project*/

/* page password_recovery*/
.recovery-password {
	padding-top: 15px;
	padding-bottom: 150px;
}
.back-link{
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	color: #AFB2C4;
	background: url(../pic/ic_backarrow.svg) no-repeat left center;
	padding-left: 15px;

}
.recovery-password a:hover{
	color: #E55241;
}
.login_link {
	display: flex;
	justify-content: center;

	line-height: 1.5;
	text-align: center;
	text-decoration: underline;
	color: #e55241;
}
.login_title{
	margin: 20px 0 30px;
}
.recover-form{
	display: flex;
	justify-content: center;
}
.recover-form button{
	width: 100%;
	margin: 20px 0;
}
/* end password_recovery*/


.input-group{
	padding: 10px 0px;
}
.form-control-lg {
	padding: 1rem 1rem;
}

/* page create_lk */

.create-account {
	padding-top: 15px;
	padding-bottom: 150px;
}


/* end create_lk */


/* page input_lk */
.authorization{
	padding-top: 15px;
	padding-bottom: 60px;
}

/* end input_lk */

.page-footer{
	background: #272727;
}
.footer_wraper{
	padding: 60px 0px;
	display: flex;
}
.footer_logo {
	margin-right: 60px;
}
.tabs_element {
	background-image: url(../pic/ic_right.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right center;

	height: 30px;
	width: 200px;

	padding-bottom: 10px;
	margin-bottom: 0px;
	margin-right: 20px;
	border-bottom: 1px solid #2f2f2f;
}
.tabs_link,
.socials_link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
.tabs_link:hover{
	color: #E55241;
}
.tabs_bg {
	background-image: url(../pic/map-img.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 5px;
	background-position-y: -3px;
}
.socials_list{
	display: flex;
	flex-wrap: nowrap;
	justify-content: right;

	list-style: none;
}
.socials_element{
	padding-left: 15px;
}

.address,.socials_yt {
	display: flex;
	justify-content: flex-end;
	padding: 10px 0px;
}
.address a{
	text-decoration: none;
	font-weight: 700;
	color: #ffffff;
}
.address a:hover{
	text-decoration: none;
	font-weight: 700;
	color: #E55241;
}


.copyright {
	display: flex;
	align-content: center;

	padding: 15px;

	background-color: #202020;
	color: #FFFFFF;
}
.copyright a{
	text-decoration: none;
	color: #ffffff;
	padding: 7px;

}
.copyright a:hover{
	text-decoration: none;
	color: #E55241;
}

.copyright__link {
	display: block;
	font-size: 12px;
	line-height: 1.5;
	color: #ffffff;
}
.politik{
	padding: 7px;
	position: relative;
}
.politik:before {
	content: '';
	border-left: 2px solid rgba(255,255,255,.5);
	position: absolute;
	left: 0;
	top: 10%;
	height: 85%;
	padding-left: 10px;
}
.polit{
	display: flex;
	justify-content: flex-end;
}

.search{
	display: flex;
}
.searchBtn{
	cursor: pointer;
}
.searchBtn > img {
	font-size: 14px;
	line-height: 20px;
}
.search:hover > .searchText{
	right: 96%;
	z-index: 100;
	width: 240px;
	padding: 0 6px;
}
.searchText {
	outline: none;
	padding: 0px;
	color: #A6A6A6;
	font-size: 14px;
	line-height: 20px;
	transition: 0.4s;
	width: 0;
}
